/* OTHL colors */
$primary: #2d536f;  	// rgb(45, 83, 111)
$secondary: #5481a3; 	// rgb(84, 129, 163)
$green: #99c24d; 		// rgb(153, 194, 77)
$orange: #eab345; 		// rgb(234, 179, 69)
$red: #fd5f54; 			// rgb(253, 95, 84)
$black: #323232; 		// rgb(50, 50, 50)